.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
/* scanner */
#interactive {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #282c34;
}

video {
  width: 100%;
  height: 100%;
  /* margin-left: 20%;
  margin-top: 20%;
  margin-right: 20%;
  margin-bottom: 20%; */
}

canvas.drawing,
canvas.drawingBuffer {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 60%;
  border: 2px red solid;
  margin: 20%;
}
/* search bar in manualSearch */

.active-cyan-2 input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type="text"] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa,
.active-cyan-2 .fa {
  color: #4dd0e1;
}

/* profile */
.PieChartProfile {
  width: 20%;
  height: 20%;
}
